body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Lora', serif;
}

.btn-primary {
  color: #fff;
  background-color: #6416FF;

}

.text-primary {
  color: #fff;
  background-color: #6416FF;

}

.purple-700 {
  background-color: #E040FB
}

.aqua {
background-color:aquamarine

}

.title-primary {
  background-color: #039be5,
}

